@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.logo {
  width: 40%;
  float: left;
}

.logo #logo {
  position: static;
  top: 2%;
  left: 2%;
}

#version {
  float:left;
  width: 20%;
  position: static;
  color: #ffffff;
  max-width: 360px;
  margin: 0 auto 10px;
  padding: 0px;
  text-align: center;
  /*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);*/
}

.user {
  float: right;
  width: 40%;
  /*background: #b3b3b3;*/
  position: static;
  color: #FFFFFF;
  right: 10px;
  top: 10px;
  text-align: right;
}

.user #username {
  position: relative;
  font-weight: bold;
  right: 10px;
}

.news-border {
  position: fixed;
  border-radius: 5px;
  width: 60%;
  height: 60%;
  background: #d3d3d3;
  top: 20%;
  left: 2%;
}

.news {
  margin: 5px;
  height: 97%;
  position: relative;
  color: #1c1b1d;
  text-align: center;
  overflow-y: scroll;
}

.tools {
  border-radius: 5px;
  background: #d3d3d3;
  width: 33%;
  height: 60%;
  color: #ffffff;
  position: fixed;
  top: 20%;
  left: 65%;
}

.tools #header {
  text-align: center;
  color: #1c1b1d;
}

#foot {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 20%;
  /*background: #ff6c91;*/
}

button {
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  background: #76be43;
  color: #FFFFFF;
  font-size: 22px;
  font-weight: bolder;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border: none;
}

button:hover{
  background-color: #87cf54;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.update{
  background: #76be43;
  border-radius: 5px;
  position: fixed;
  bottom: 3.5%;
  left: 2%;
  height: 10%;
  width: 20%;
}

.launch{
  background: #76be43;
  border-radius: 5px;
  position: fixed;
  bottom: 3.5%;
  right: 2%;
  height: 10%;
  width: 20%;
}


/*Color Variables ======================================*/
/*$green: #76be43;
$gray-light: #eef1f3;*/

/*// Bar Variables ========================================*/
/*$bar-size: 5px;
$bar-radius: 60px;
$bar-bg: rgba(0,0,0,0.075);*/

/*body {
  background: #eef1f3;
}*/

/*// Animation =============================================*/
/*// Edit these at random intervals to change the animation.*/
@keyframes loader {

	0% {
		width: 0;
	}

	20% {
		width: 10%;
	}

	25% {
		width: 24%;
	}

	43% {
		width: 41%;
	}

	56% {
		width: 50%;
	}

	66% {
		width: 52%;
	}

	71% {
		width: 60%;
	}

	75% {
		width: 76%;

	}

	94% {
		width: 86%;
	}

	100% {
		width: 100%;
	}

}

/*// Bar ============================================*/
.progress-bar {
	border-radius: 60px;

  width: 50%;
  top: 90%;
  position: fixed;
  left: 25%;
overflow: hidden;
background: rgba(255,255,255,0.075);
	span {
		display: block;
	}

}

.bar {
  background: rgba(0,0,0,0.075);
}

.progress {
  animation: loader 8s ease infinite;
  /*animation-name: loader;
  animation-duration: 8s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;*/
  /*// Change the animation fill mode 'infinite' to 'forwards' to stop the animation from repeating.*/
  background: #76be43;
  color: #fff;
  padding: 5px;
  width: 0;
}

/*// Vertical Centering ==============================*/
/*// You don't need this to make it work on your site.*/
/*.progress-bar {
  left: 50%;
  max-width: 50%;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%,-50%,0);
}*/
body {
  background: #1C1B1D; /* fallback for old browsers */
  /*background: -webkit-linear-gradient(right, #ABADB0, #3A383A);
  background: -moz-linear-gradient(right, #ABADB0, #3A383A);
  background: -o-linear-gradient(right, #ABADB0, #3A383A);
  background: linear-gradient(to left, #ABADB0, #3A383A);*/
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
