@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.logo {
  width: 40%;
  float: left;
}

.logo #logo {
  position: static;
  top: 10px;
  left: 10px;
}

#version {
  float:left;
  width: 20%;
  position: static;
  color: #ffffff;
  max-width: 360px;
  margin: 0 auto 10px;
  padding: 0px;
  text-align: center;
  /*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);*/
}

.user {
  float: right;
  width: 40%;
  /*background: #b3b3b3;*/
  position: static;
  color: #FFFFFF;
  right: 10px;
  top: 10px;
  text-align: right;
}

.user #username {
  position: relative;
  font-weight: bold;
  right: 10px;
}

.news-border {
  position: fixed;
  border-radius: 5px;
  width: 60%;
  height: 55%;
  background: #d3d3d3;
  top: 25%;
  left: 2%;
}

.news {
  margin: 5px;
  height: 97%;
  position: relative;
  color: #1c1b1d;
  text-align: center;
  overflow-y: scroll;
}

.tools {
  border-radius: 5px;
  background: #d3d3d3;
  width: 28%;
  height: 55%;
  color: #ffffff;
  position: fixed;
  top: 25%;
  left: 70%;
}

.tools #header {
  text-align: center;
  color: #1c1b1d;
}

#foot {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 20%;
  /*background: #ff6c91;*/
}

button {
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  background: #76be43;
  color: #FFFFFF;
  font-size: 22px;
  font-weight: bolder;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.update{
  background: #76be43;
  border-radius: 5px;
  position: fixed;
  bottom: 3.5%;
  left: 2%;
  height: 10%;
  width: 25%;
}

.launch{
  background: #76be43;
  border-radius: 5px;
  position: fixed;
  bottom: 3.5%;
  right: 2%;
  height: 10%;
  width: 25%;
}

/*.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}*/
body {
  background: #1C1B1D; /* fallback for old browsers */
  /*background: -webkit-linear-gradient(right, #ABADB0, #3A383A);
  background: -moz-linear-gradient(right, #ABADB0, #3A383A);
  background: -o-linear-gradient(right, #ABADB0, #3A383A);
  background: linear-gradient(to left, #ABADB0, #3A383A);*/
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
