/*font face*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
/*********************** Logo container style **************************/
.logo {
  width: 40%;
  float: left;
}
/*********************** Logo image style **************************/
.logo #logo {
  position: static;
  top: 2%;
  left: 2%;
}
/*********************** Version container style **************************/
#version {
  float: left;
  width: 20%;
  position: static;
  color: #ffffff;
  max-width: 360px;
  margin: 0 auto 10px;
  padding: 0px;
  text-align: center;
}
/***********************User container style **************************/
.user {
  float: right;
  width: 40%;
  position: static;
  color: #FFFFFF;
  right: 10px;
  top: 10px;
  text-align: right;
}
/*********************** Tool tip style **************************/
.user .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
}
/*********************** TT hover style **************************/
.tooltip:hover .tooltiptext {
    visibility: visible;
}
/*********************** Username style **************************/
.user #username {
  position: relative;
  font-weight: bold;
  right: 10px;
  margin-bottom: 2px;
}

/*********************** News container style **************************/
.news {
  position: fixed;
  border-radius: 5px;
  width: 60%;
  height: 57%;
  background: #d3d3d3;
  top: 23%;
  left: 2%;
  color: #1c1b1d;
  text-align: center;
  overflow-y: hidden;
}
/*********************** Tools container style **************************/
.tools {
  border-radius: 5px;
  background: #d3d3d3;
  width: 33%;
  height: 57%;
  color: #ffffff;
  position: fixed;
  top: 23%;
  left: 65%;
}
/*********************** Tools header style **************************/
.tools #header {
  text-align: center;
  color: #1c1b1d;
}
/***********************Footer style **************************/
#foot {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 20%;
}
/*********************** RSS feed style **************************/
img {
  border:0px;
}
.feed-container{
  font-size:12px;
  border:1px solid #CCCCCC;
}
.feed-container .header{
  margin:0px;
  padding:5px 5px 5px 5px;
  font-size:12px;
  border-bottom:1px solid #CCCCCC;
}
.feed-container .footer{
  margin:0px;
  padding:5px 5px 5px 5px;
  color:#fff;
}
.feed-container .header .title{
  margin:0;
  padding:0;
  font-weight:bold;
  color:#000;
}
.feed-container .header a{
  text-decoration:none;
  color:#000;
}
.feed-container .header a:hover{
  text-decoration:underline;
  color:#666;
}
.feed-container .content{
  margin:0px;
  padding:0 3px;
}
.feed-container .content .item{
  margin:0 0 7px 0;
  padding:0 0 7px 0;
  border-bottom:1px dashed #CCCCCC;
}
.feed-container .content .item .title{
  margin:1px 0 1px 3px;
  padding:1px 2px 1px 3px;
  color:#1c1b1d;
  font-weight:bold;
}
.feed-container .content .item .title a{
  color:#1c1b1d;
  text-decoration:none;
}
.feed-container .content .item .title a:hover{
  color:#1c1b1d;
  text-decoration:underline;
}
.feed-container .content .item .description{
  margin:0 0 0 3px;
  padding:0 2px 0 3px;
  color:#666;
}
.feed-container .content .item .description a{
  text-decoration:none;
  color:#000;
}
.feed-container .content .item .description a:hover{
  text-decoration:underline;
  color:#666;
}
/*********************** Button style **************************/
button {
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  background: #76be43;
  color: #FFFFFF;
  font-size: 22px;
  font-weight: bolder;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border: none;
}
/*Hover style*/
button:hover {
  background: #87cf54;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
/*********************** Update button style **************************/
.update {
  background: #76be43;
  border-radius: 5px;
  position: fixed;
  bottom: 3.5%;
  left: 2%;
  height: 10%;
  width: 20%;
}
/*********************** Launch button style **************************/
.launch {
  background: #76be43;
  border-radius: 5px;
  position: fixed;
  bottom: 3.5%;
  right: 2%;
  height: 10%;
  width: 20%;
}
/*********************** Animation for Loading Bar **************************/
@keyframes loader {
  0% {
    width: 0%
  }
  100% {
    width: 100%
  }
}
/*********************** Loading bar style (shadow part) **************************/
.progress-bar {
  border-radius: 60px;
  width: 50%;
  top: 90%;
  position: fixed;
  left: 25%;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.075);
  span {
    display: block;
  }
}
/*********************** loading material style (green part) **************************/
.progress {
  position: relative;
  box-shadow: inset 3px 3px 2px 0 rgba(0, 0, 0, 0.24);
  animation: loader 8s linear infinite;
  /* Change the animation fill mode 'infinite' to 'forwards' to stop the animation from repeating.*/
  background: #76be43;
  color: #ffffff;
  padding: 5px;
  width: 0;
}
/*********************** Body **************************/
body {
  background: #1C1B1D;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
